body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    font-weight: bold;
    padding: 0px;
    margin: 10px;
}

p {
    text-align: center;
    color: gray;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}


#top-background {
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
    padding: 300px;
}

.large-header {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
}

.center {
    text-align: center;
}

.detail-text {
    
    font-size: 24px;
    font-weight: bold;
}

.donate-money-btn {
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 20px;
    border: 1px solid white;
    color: darkgray;
    border-radius: 5px;
    margin: 20px;
    font-size: 32px;
    font-weight: bold;
}

.button-group {
    text-align: center;
}

#donate-money-select-btn {
    width: 150px;
    height: 150px;
    padding: 20px;
    background-color: rgb(250, 225, 220);
    border: 1px solid tomato;
    color: tomato;
    border-radius: 5px;
    margin: 20px;
    font-size: 32px;
    font-weight: bold;
}

.margin-top {
    margin-top: 100px;
}
.margin-top-md{
    margin-top: 50px;
}
h2 {
    color: rgb(25, 25, 25);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    
}
.card{
    display: inline-block;
    width: 400px;
    height: 350px;
    margin: 15px;
    padding: 20px;
    border-radius: 5px;

}
#card-1{
background-color:rgb(222, 241, 241);
}
#card-2{
background-color: rgb(253, 235, 237);
}
#card-3{
background-color:rgb(255, 244, 232)
}
#other-option-text{
    color: gray !important;
    font-weight: normal !important;
}
#contact-box{
    width: 1100px;
    height: 225px;
    background-color: bisque;
    text-align: center;
    display: inline-block;
}
#email-input{
    width: 400px;
    height: 50px;
    margin-top: 100px;
}
#contribute-details-left{
    display: inline-block;
    width: 50%;
    padding: 40px;
    margin-bottom: 100px;
   
}
#contribute-details-img{
width: 40%;

display: inline-block;
}
footer{
    background-color: rgb(10, 10, 10);
    width: 100%;
    height: 200px;
}